[submodule "frontend"]
	path = frontend
	url = https://github.com/open-blockchain/frontend.git
[submodule "node-api"]
	path = node-api
	url = https://github.com/open-blockchain/node-api.git
[submodule "scanner"]
	path = scanner
	url = https://github.com/open-blockchain/scanner.git
[submodule "spark"]
	path = spark
	url = https://github.com/open-blockchain/spark.git
